@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.green {
    font-weight: bold;
    color: green !important;
}

.red {
    font-weight: bold;
    color: red !important;
}

.black {
    color: black !important;
}

.p-menubar-button {
    margin-left: auto !important;
}

.active-class {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.dot {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: white;
    margin: 2px;
}